<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Indication</key>
		<string>Diabetes</string>
		<key>Generic</key>
		<string>Metformin</string>
		<key>Brand</key>
		<string>Glucophage</string>
		<key>Dose Route Schedule</key>
		<array>
			<string>250 mg PO BID (initial dose)</string>
			<string>2500 mg PO daily in divided doses (maximum)</string>
		</array>
		<key>Adjustment</key>
		<array>
			<string>eGFR &lt; 45 mL/min: Consider stopping or decreasing dose by 50%. Monitor eGFR every 3 months.</string>
		</array>
		<key>Contraindication</key>
		<array>
			<string>Heart failure with reduced ejection fraction</string>
			<string>eGFR &lt; 30 mL/min</string>
			<string>Hepatic failure</string>
		</array>
		<key>Notes</key>
		<array>
			<string>Monitor eGFR annually.</string>
		</array>
		<key>Guidelines</key>
		<array>
			<dict>
				<key>Text</key>
				<string>Diabetes</string>
				<key>Source</key>
				<string>http://guidelines.diabetes.ca/fullguidelines</string>
			</dict>
		</array>
		<key>Supporting Trials</key>
		<array>
			<dict>
				<key>Text</key>
				<string>Test</string>
				<key>Source</key>
				<string>https://www.google.com</string>
			</dict>
			<dict>
				<key>Text</key>
				<string>NCT00457002 (ADOPT)</string>
				<key>Source</key>
				<string>https://clinicaltrials.gov/ct2/show/NCT00457002</string>
			</dict>
		</array>
		<key>Landmark Papers</key>
		<array>
			<dict>
				<key>Text</key>
				<string>New England Journal of Medicine 2006; 355:2427–43</string>
				<key>Source</key>
				<string>http://www.nejm.org/doi/full/10.1056/NEJMoa066224</string>
			</dict>
		</array>
		<key>Key Terms</key>
		<array/>
	</dict>
	<dict>
		<key>Indication</key>
		<string>Diabetes</string>
		<key>Generic</key>
		<string>Alogliptin</string>
		<key>Brand</key>
		<string>Nesina</string>
		<key>Dose Route Schedule</key>
		<array>
			<string>25 mg PO OD</string>
		</array>
		<key>Adjustment</key>
		<array/>
		<key>Contraindication</key>
		<array>
			<string>Hypersensitivity</string>
			<string>Diabetes mellitus, type 1</string>
			<string>Diabetic ketoacidosis</string>
		</array>
		<key>Notes</key>
		<array>
			<string>Limited evidence for patients with advanced heart failure. (Use with caution in patients with NYHA classes III and IV heart failure.)</string>
		</array>
		<key>Guidelines</key>
		<array>
			<dict>
				<key>Text</key>
				<string>Diabetes</string>
				<key>Source</key>
				<string>http://guidelines.diabetes.ca/fullguidelines</string>
			</dict>
		</array>
		<key>Supporting Trials</key>
		<array>
			<dict>
				<key>Text</key>
				<string>NCT00286455</string>
				<key>Source</key>
				<string>https://clinicaltrials.gov/ct2/show/NCT00286455</string>
			</dict>
		</array>
		<key>Landmark Papers</key>
		<array/>
		<key>Key Terms</key>
		<array/>
	</dict>
	<dict>
		<key>Indication</key>
		<string>Diabetes</string>
		<key>Generic</key>
		<string>Linagliptin</string>
		<key>Brand</key>
		<string>Trajenta</string>
		<key>Dose Route Schedule</key>
		<array>
			<string>5 mg PO OD</string>
		</array>
		<key>Adjustment</key>
		<array/>
		<key>Contraindication</key>
		<array>
			<string>Hypersensitivity</string>
			<string>Diabetes mellitus, type 1</string>
			<string>Diabetic ketoacidosis</string>
		</array>
		<key>Notes</key>
		<array>
			<string>No adjustment for renal function or age.</string>
			<string>Use with caution in patients with severe hepatic insufficiency or on dialysis.</string>
		</array>
		<key>Guidelines</key>
		<array>
			<dict>
				<key>Text</key>
				<string>Diabetes</string>
				<key>Source</key>
				<string>http://guidelines.diabetes.ca/fullguidelines</string>
			</dict>
		</array>
		<key>Supporting Trials</key>
		<array>
			<dict>
				<key>Text</key>
				<string>NCT00622284</string>
				<key>Source</key>
				<string>https://clinicaltrials.gov/ct2/show/NCT00622284</string>
			</dict>
		</array>
		<key>Landmark Papers</key>
		<array/>
		<key>Key Terms</key>
		<array/>
	</dict>
	<dict>
		<key>Indication</key>
		<string>Diabetes</string>
		<key>Generic</key>
		<string>Saxagliptin</string>
		<key>Brand</key>
		<string>Onglyza</string>
		<key>Dose Route Schedule</key>
		<array>
			<string>5 mg PO OD</string>
		</array>
		<key>Adjustment</key>
		<array>
			<string>CrCl &lt; 50 mL/min: 2.5 mg PO OD</string>
		</array>
		<key>Contraindication</key>
		<array>
			<string>Hypersensitivity</string>
			<string>Diabetic ketoacidosis</string>
			<string>Diabetic coma</string>
			<string>Diabetes mellitus, type 1</string>
			<string>Hemodialysis</string>
			<string>Severe hepatic impairment</string>
		</array>
		<key>Notes</key>
		<array/>
		<key>Guidelines</key>
		<array>
			<dict>
				<key>Text</key>
				<string>Diabetes</string>
				<key>Source</key>
				<string>http://guidelines.diabetes.ca/fullguidelines</string>
			</dict>
		</array>
		<key>Supporting Trials</key>
		<array>
			<dict>
				<key>Text</key>
				<string>NCT01107886 (SAVOR-TIMI 53)</string>
				<key>Source</key>
				<string>https://clinicaltrials.gov/ct2/show/NCT01107886</string>
			</dict>
		</array>
		<key>Landmark Papers</key>
		<array>
			<dict>
				<key>Text</key>
				<string>New England Journal of Medicine 2013; 369:1317–26</string>
				<key>Source</key>
				<string>http://www.nejm.org/doi/full/10.1056/NEJMoa1501352</string>
			</dict>
		</array>
		<key>Key Terms</key>
		<array/>
	</dict>
	<dict>
		<key>Indication</key>
		<string>Diabetes</string>
		<key>Generic</key>
		<string>Sitagliptin</string>
		<key>Brand</key>
		<string>Januvia</string>
		<key>Dose Route Schedule</key>
		<array>
			<string>100 mg PO OD</string>
		</array>
		<key>Adjustment</key>
		<array>
			<string>CrCl between 30 and 50 mL/min: 50 mg PO OD</string>
			<string>CrCL &lt; 30 mL/min: 25 mg PO OD</string>
			<string>Dialysis: 25 mg PO OD</string>
		</array>
		<key>Contraindication</key>
		<array>
			<string>Hypersensitivity</string>
			<string>Severe hepatic impairment</string>
		</array>
		<key>Notes</key>
		<array>
			<string>No adjustment for age</string>
		</array>
		<key>Guidelines</key>
		<array>
			<dict>
				<key>Text</key>
				<string>Diabetes</string>
				<key>Source</key>
				<string>http://guidelines.diabetes.ca/fullguidelines</string>
			</dict>
		</array>
		<key>Supporting Trials</key>
		<array>
			<dict>
				<key>Text</key>
				<string>NCT00790205 (TECOS)</string>
				<key>Source</key>
				<string>https://clinicaltrials.gov/ct2/show/NCT00790205</string>
			</dict>
		</array>
		<key>Landmark Papers</key>
		<array>
			<dict>
				<key>Text</key>
				<string>New England Journal of Medicine 2015; 373:232–42</string>
				<key>Source</key>
				<string>http://www.nejm.org/doi/full/10.1056/NEJMoa1501352</string>
			</dict>
		</array>
		<key>Key Terms</key>
		<array/>
	</dict>
</array>
</plist>
